[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/imgui_impl_raylib"]
	path = vendor/imgui_impl_raylib
	url = https://github.com/raylib-extras/rlImGui
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "vendor/imguizmo"]
	path = vendor/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "vendor/box2d"]
	path = vendor/box2d
	url = https://github.com/erincatto/box2d
